$custom-primary-color: (
    50 : #e1e7ed,
    100 : #b3c2d1,
    200 : #809ab3,
    300 : #4d7295,
    400 : #27537e,
    500 : #013567,
    600 : #01305f,
    700 : #012854,
    800 : #01224a,
    900 : #001639,
    A100 : #6f96ff,
    A200 : #3c71ff,
    A400 : #094bff,
    A700 : #0040ef,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$custom-accent-color: (
    50 : #f9e3e9,
    100 : #f1bac8,
    200 : #e88ca4,
    300 : #df5d7f,
    400 : #d83b63,
    500 : #d11848,
    600 : #cc1541,
    700 : #c61138,
    800 : #c00e30,
    900 : #b50821,
    A100 : #ffe0e3,
    A200 : #ffadb5,
    A400 : #ff7a88,
    A700 : #ff6071,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$color-success: (
    50 : #eaf5ea,
    100 : #c9e7cb,
    200 : #a6d7a8,
    300 : #82c785,
    400 : #67bb6a,
    500 : #4caf50,
    600 : #45a849,
    700 : #3c9f40,
    800 : #339637,
    900 : #248627,
    A100 : #c5ffc7,
    A200 : #92ff95,
    A400 : #5fff64,
    A700 : #46ff4b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$color-warning: (
    50 : #fff4e9,
    100 : #fee3c7,
    200 : #fed1a2,
    300 : #fdbf7d,
    400 : #fcb161,
    500 : #fca345,
    600 : #fc9b3e,
    700 : #fb9136,
    800 : #fb882e,
    900 : #fa771f,
    A100 : #ffffff,
    A200 : #fffdfc,
    A400 : #ffddc9,
    A700 : #ffcdb0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



